<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span style="margin: 0;padding: 15px;">
    <span sec:authentication="authorities" style="color: #ff6d6d"></span>
    <span sec:authentication="name"></span>
</span>
<h1>user페이지입니다.</h1>
<form th:action="@{/logout}">
    <button type="submit">
       logout
    </button>
</form>
<form th:action="@{/admin}">
    <button type="submit">
        admin페이지
    </button>
</form>
</body>
</html>